
#sortable { 
    list-style-type: none; 
    margin: 100px auto;
    padding: 0; 
    width: 100%;
    }

#sortable li { 
    margin:0.5em; 
    padding: 1px; 
    float: left;
    width: 330px; 
    height: 150px;
    font-size: 2em; 
    text-align: left;
    
    border-radius: 5px;
    font-family: Raleway;
    font-weight: 100;
    }

h1 {
    text-align: center;
    font-family: Raleway;
    font-size: 50px;
    font-weight: 200;
}

.entry-row{
    height: auto;

}

body {
    background-image: url("bg.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: repeat;
}

#card_body{
    display: none;
}

    #intro.active {
        display:block;
        z-index: -1; position:relative;
    }

    #intro .close {
        display: none;
    }

@font-face {
  font-family: "Raleway";
  src: url(https://fonts.googleapis.com/css?family=Raleway);
}

*{margin:0; padding:0;}

a{text-decoration:none; color:black;}
a:hover{text-decoration: none; color: black;}

div {
    margin: 10px auto;
    font-face: "Raleway";
    text-align: center;
    padding:5px;
    alignment:center;
    width:600px;

}

/*••••••••••••HEADER••••••••••••*/

div[id=title] {
    margin-top: 30px;
    font-weight: 200;
    font-size: 70px;
    color: black
    }

/*••••••••••••BOARDS••••••••••••*/

div[id=board_container] {
    margin-top: 100px;
    color:black;
    border-collapse: separate;
    border-spacing: 13px 13px;
    margin-right: 3px;
    margin:auto;
    width:80%;
    padding: 3px;
    }

div[id=card_body]{
    margin:2px auto;
}


#row entry-row{
    width:600px;
    margin:0 auto;
    }

table {
    border-collapse: separate;
    border-spacing: 13px 13px;
}

td{
    vertical-align: top;
}

h2{
    text-align:center;
    font-size:14px;
    margin: 0 0 12px 0;
  }

[id^=bc]{
    display: block;
    padding: 10px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    transition: all 220ms;
    margin:2px auto;
    margin-right:10px;
    width:31.9%;
}

[id^=bc]:hover {
    box-shadow: 0px 2px 3px 1px #333333;
    transform : translateY(-5px);
    transition:all 220ms;
}

.c_b {  
    float: right;
    text-align: right;
    padding: 5px;   
}

.c_c {
    clear: both;
    padding: 4px;
    text-align:justify;
    font-size:16px;
}

img{
    display:block;
    width: 100%;
    margin: 0 0 24px 0;
}

/*••••••••••••BUTTONS•••••••••••*/

.mod {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

    position:fixed;
    right: 50px;
    width: 50px;
    height: 50px;
    }

.mod:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }


.up{bottom: 110px;}
.add{bottom: 50px;}


/*••••••••••••FOOTER••••••••••••*/

div[id=footer] {
    margin-top: 50px;
    color: black;
    }

#add {
    border: none;
    background-image: url("add.png");
    position: fixed;
    bottom: 70px;
    right: 100px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

#input_fields{
    position: fixed;
    bottom: 230px;
    right: 180px;
    width: 50px;
    height: 70px;
    display: none;
}

#inputs{
        border:1px solid black;
    display: block;
    width:200px;

}


.blur{
    opacity: 1;
}
.active-blur{

}

table{
    border:1px solid black;v
    text-align: center;
    border-spacing: 10px;
    margin:0 auto;
}
tr td{
    text-align: center;
    border-spacing: 10px;
}


#back_layer{
    transform: translateZ(100px);
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

#task_table{
    transform: translateZ(100px);
    position: fixed;
    top:25%;
    left:25%;
    width: 50%;
    background-color: #ececec;
    border: 3px solid #eb586b;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    height: auto;
    max-height: 50%;
    overflow-y: scroll;

}
.no_display{
    display: block;
}
