
    #intro.active {
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        display:block;
    }

    #intro .close {
        display: none;
    }

