<!DOCTYPE html>
<html lang="en">
<title>ProMan</title>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link href="../static/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel=stylesheet type=text/css href="../static/style.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../static/script.js"></script>
</head>

<body>
 

<!--•••••••••••• HEADER ••••••••••••-->

<div id="title">
    <p>Your cards</p>
</div>

<!--•••••••••••• BOARDS ••••••••••••-->

<div id="board_container">
    <table>
        <tr>
            <td>
                <a class="article" href="http://google.com">
                    <img src="https://c1.staticflickr.com/1/674/20942077784_5d3ffb2ed0_h.jpg" />
                    <h2>Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor</h2>
                </a>

                <a class="article" href="http://google.com">
                    <img src="https://c1.staticflickr.com/1/674/20942077784_5d3ffb2ed0_h.jpg" />
                    <h2>Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor</h2>
                </a>
            </td>
            <td>
                <a class="article" href="http://google.com">
                    <img src="https://c1.staticflickr.com/1/674/20942077784_5d3ffb2ed0_h.jpg" />
                    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
                </a>

                <a class="article" href="http://google.com">
                    <img src="https://c1.staticflickr.com/1/674/20942077784_5d3ffb2ed0_h.jpg" />
                    <h2>Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor</h2>
                </a>
            </td>
            <td>
                <a class="article" href="http://google.com">
                    <img src="https://c1.staticflickr.com/1/674/20942077784_5d3ffb2ed0_h.jpg" />
                </a>

                <a class="article" href="http://google.com">
                    <img src="https://c1.staticflickr.com/1/674/20942077784_5d3ffb2ed0_h.jpg" />
                    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
                </a>

                <a class="article" href="http://google.com">
                    <img src="https://c1.staticflickr.com/1/674/20942077784_5d3ffb2ed0_h.jpg" />
                    <h2>Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor</h2>
                </a>
            </td>
        </tr>
    </table>
</div>

<!--•••••••••••• FOOTER ••••••••••••-->

<div class="header">
    <p>design by <strong>N. I. <span style="color: red">E.</span></strong></p>
</div>

</body>
</html>
