<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sortable lists</title>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel=stylesheet type=text/css href="../static/style.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="../static/script.js"></script>
    </head>
    <body>

    <!------LISTS------>
    <div class="cardsContainer">
        <section class="cardList">  
        <h3>--NEW--</h3>
        <ul id="stat_new" class="connectedSortable">
            <li class="ui-state-default">new item</li>
            <li class="ui-state-default">Item 2</li>
            <li class="ui-state-default">Item 3</li>
            <li class="ui-state-default">Item 4</li>
            <li class="ui-state-default">Item 5</li>
        </ul>
        </section>
        
        <section class="cardList">  
        <h3>--IN PROGRESS--</h3>
        <ul id="stat_inprogress" class="connectedSortable">
            <li class="ui-state-default">in progress Item</li>
            <li class="ui-state-default">Item 2</li>
            <li class="ui-state-default">Item 3</li>
            <li class="ui-state-default">Item 4</li>
            <li class="ui-state-default">Item 5</li>
        </ul>
        </section> 
        
        <section class="cardList">  
        <h3>--REVIEW--</h3>
        <ul id="stat_review" class="connectedSortable">
            <li class="ui-state-default">review Item 1</li>
            <li class="ui-state-default">Item 2</li>
            <li class="ui-state-default">Item 3</li>
            <li class="ui-state-default">Item 4</li>
            <li class="ui-state-default">Item 5</li>
        </ul>
        </section>
        
        <section class="cardList">
        <h3>--DONE--</h3>
        <ul id="stat_done" class="connectedSortable">
            <li class="ui-state-default">done Item 1</li>
            <li class="ui-state-default">Item 2</li>
            <li class="ui-state-default">Item 3</li>
            <li class="ui-state-default">Item 4</li>
            <li class="ui-state-default">Item 5</li>
        </ul>
        </section>
        <div class="clr"></div>
    </div>

    </body>
</html>