<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link rel=stylesheet type=text/css href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
    <script src="../static/script.js"></script>
</head>
<body>
<div class="header">
    <p>NotImplementedError's Trello</p>
</div>
<div class="title">
    <p>Boards</p>
</div>
<div class="boards">

</div>
<div class="create-new">
    <p>Create new board...</p>
</div>
</body>
</html>