<!DOCTYPE html>
<html lang="en">
<title>ProMan</title>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link href="../static/bootstrap.min.css" rel="stylesheet">-->
    <link rel=stylesheet type=text/css href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
    <script src="../static/script.js"></script>
</head>

<body>
 

<!--•••••••••••• HEADER ••••••••••••-->

<div id="title">
    <p>Your boards</p>
</div>

<!--•••••••••••• BOARDS ••••••••••••-->

<div id="board_container">
    <table>
        <tr>
            <td>
                <a class="article" href="http://google.com">
                    <img src="https://c1.staticflickr.com/1/674/20942077784_5d3ffb2ed0_h.jpg" />
                    <h2>Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor</h2>
                </a>

                <a class="article" href="http://google.com">
                    <img src="https://c1.staticflickr.com/1/674/20942077784_5d3ffb2ed0_h.jpg" />
                    <h2>Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor</h2>
                </a>
            </td>
            <td>
                <a class="article" href="http://google.com">
                    <img src="https://c1.staticflickr.com/1/674/20942077784_5d3ffb2ed0_h.jpg" />
                    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
                </a>

                <a class="article" href="http://google.com">
                    <img src="https://c1.staticflickr.com/1/674/20942077784_5d3ffb2ed0_h.jpg" />
                    <h2>Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor</h2>
                </a>
            </td>
            <td>
                <a class="article" href="http://google.com">
                    <img src="https://c1.staticflickr.com/1/674/20942077784_5d3ffb2ed0_h.jpg" />
                </a>

                <a class="article" href="http://google.com">
                    <img src="https://c1.staticflickr.com/1/674/20942077784_5d3ffb2ed0_h.jpg" />
                    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
                </a>

                <a class="article" href="http://google.com">
                    <img src="https://c1.staticflickr.com/1/674/20942077784_5d3ffb2ed0_h.jpg" />
                    <h2>Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor</h2>
                </a>
            </td>
        </tr>
    </table>
</div>

<!--•••••••••••• FOOTER ••••••••••••-->

<div id="footer">
    <p>design by n.i.e.</p>
</div>

</body>
</html>
