<!DOCTYPE html>
<html lang="en">
<title>ProMan</title>

<head>
    <meta charset="UTF-8">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel=stylesheet type=text/css href="../static/style.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../static/script.js"></script>
</head>

<body>

<div id="back_layer">

    <div id="title">
        <h1>Your Boards</h1>
    </div>

    <div class="row entry-row" id="board_container"></div>

    <form id="input_fields">
        <div id="inputs">
            <p></p>
            <p><strong>ADD A NEW BOARD!</strong></p>
            <p class="underline"><input type="text" placeholder="board title" id="newboard-input"></p>
            <p>
                <button id="newboard-button">Save</button>
                <button id="newboard-cancel">Cancel</button>
            </p>
        </div>
    </form>

    <div id="navbar">
        <h2>ProMan</h2>
        <div class="a mod add">
            <a>+</a>
        </div>
    </div>

</div>

<div id="task_table" >
    <div id="taskTitle"></div>
        <div class="cardsContainer">
        <section class="cardList">  
          <h3>--NEW--</h3>
          <ul id="stat_new" class="connectedSortable">
          </ul>
        </section>
        
        <section class="cardList">  
          <h3>--IN PROGRESS--</h3>
          <ul id="stat_inprogress" class="connectedSortable">
          </ul>
        </section> 
        
        <section class="cardList">  
          <h3>--REVIEW--</h3>
          <ul id="stat_review" class="connectedSortable">
          </ul>
        </section>
        
        <section class="cardList">
          <h3>--DONE--</h3>
          <ul id="stat_done" class="connectedSortable">
          </ul>
        </section>
        <div class="clr"></div>
    </div>
    </div>



</body>
</html>
