<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Sortable - Display as grid</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel=stylesheet type=text/css href="../static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="../static/script.js"></script>
  
</head>
<body>
  <h1>Your cards</h1>
<div id="cards">
  <ul id="sortable">
      <li class="article"><h2 class="c_t">Title1</h2>
                

                
                    
                    <h2 class="c_c">Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in </h2></li>
      <li class="article">title2</li>
      <li class="article">title3</li>
      <li class="article">title4</li>
      <li class="article">title5</li>
      <li class="article">title6</li>
      <li class="article">title7</li>
      <li class="article">title8</li>
      <li class="article">title9</li>
      <li class="article">title10</li>
      <li class="article">title11</li>
      <li class="article">title12</li>
    </ul>
</div>
 

 
</body>
</html>