<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Sortable - Display as grid</title><link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel=stylesheet type=text/css href="../static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">



  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="../static/script.js"></script>
  
</head>
<body>
  <h1>Your cards</h1>
<div id="cards">
  <ul id="sortable" class="article">
      <li id="li1">
        <h2 class="c_b">X</h2>
        <h2 class="c_c">Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in Cursus cursus proin 
                        auctor</h2>
      </li>
      <li id="li2">
        <h2 class="c_b">X</h2>
        <h2 class="c_c">Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus  </h2>
      </li>
      <li id="li3">
        <h2 class="c_b">X</h2>
        <h2 class="c_c">Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus pro</h2>
      </li>
      <li id="li4">
        <h2 class="c_b">X</h2>
        <h2 class="c_c">Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auct</h2>
      </li>
      <li id="li5">
        <h2 class="c_b">X</h2>
        <h2 class="c_c">Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auct Cursus cur</h2>
      </li>
      <li id="li6">
        <h2 class="c_b">X</h2>
        <h2 class="c_c">Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus pr</h2>
      </li>
      <li id="li7">
        <h2 class="c_b">X</h2>
        <h2 class="c_c">Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus</h2>
      </li>
      <li id="li8">
        <h2 class="c_b">X</h2>
        <h2 class="c_c">Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in Cursus cursus proin 
                        auctor inuctor inCursus cursus</h2>
      </li>
      <li id="li9">
        <h2 class="c_b">X</h2>
        <h2 class="c_c">Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in Cursus cursus proin 
                        auctor in in ac, nunc, tort</h2>
      </li>
      <li id="li10">
        <h2 class="c_b">X</h2>
        <h2 class="c_c">Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in</h2>
      </li>
      <li id="li11">
        <h2 class="c_b">X</h2>
        <h2 class="c_c">Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in in ac, nunc, tortor
                        Cursus cursus proin auctor in Cursus cursus proin 
                        auctor in in</h2>
      </li>
    </ul>
</div>
 

 
</body>
</html>