<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Sortable - Display as grid</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel=stylesheet type=text/css href="../static/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="../static/script.js"></script>
  
</head>
<body>
<div>
  

<ul id="sortable">
  <li class="ui-state-default">title1</li>
  <li class="ui-state-default">title2</li>
  <li class="ui-state-default">title3</li>
  <li class="ui-state-default">title4</li>
  <li class="ui-state-default">title5</li>
  <li class="ui-state-default">title6</li>
  <li class="ui-state-default">title7</li>
  <li class="ui-state-default">title8</li>
  <li class="ui-state-default">title9</li>
  <li class="ui-state-default">title10</li>
  <li class="ui-state-default">title11</li>
  <li class="ui-state-default">title12</li>
</ul>
</div>
 

 
</body>
</html>